{% extends 'base.html.twig' %}

{% block title %}管理者用ページ{% endblock %}
{% block page %}管理者用ページ{% endblock %}

{% block body %}
<h2>管理者用ページ</h2>
user:{{user.username}}
mail:{{user.email}}

{% endblock %}
