{% extends 'base.html.twig' %}


{% block page %}一般会員用ページ{% endblock %}
{% block title %}一般会員用ページ{% endblock %}

{% block body %}
<h2>一般会員用ページ</h2>

<table>
<tr>
<th>id</th>
<td>{{user.id}}</td>
</tr>
<tr>
<th>名前</th>
<td>{{user.username}}</td>
</tr>
<tr>
<th>メアド</th>
<td>{{user.email}}</td>
</tr>
<tr>
<th>role</th>
<td>{{user.roles[0]}}</td>
</tr>
</table>
{% endblock %}  